<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.khanal.bookworm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bookworm_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainView"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddView"
            android:label="@string/title_activity_add_view"
            android:parentActivityName=".MainView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.khanal.bookworm.MainView" />
        </activity>
        <activity
            android:name=".ViewBook"
            android:label="@string/title_activity_view_book"
            android:parentActivityName=".MainView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="co.khanal.bookworm.MainView" />
        </activity>
    </application>

</manifest>